MONGODB_URI="<mongoURI>"
GAPI_CLIENT_ID="<google-api-client-id>"
GAPI_CLIENT_SECRET="<google-api-secret>"
GAPI_REFRESH_TOKEN="<google-api-refresh-token>"
EMAIL="<nodemailer-email>"
PASS="<nodemailer-pass>"